<div class="container-fluid my-5 animated fadeIn delay2s">
  <div class="card">
    <div class="card-header align-items-center">
      <!--Article title-->
      <h5 class="float-left align-items-center">
        <a href="{{this.link}}" class="" target="_blank"><i class="far fa-newspaper"></i> {{this.title}}</a>
      </h5>
      <!--Delete Button-->
      <button type="button" class="btn btn-danger btn-sm float-right delete align-items-center mx-2"
        value={{this.id}}><i class="fas fa-trash"></i> Delete</button>
      <!--Comment Button-->
      <button type="button" class="btn btn-success btn-sm float-right comment align-items-center mx-2"
        value="{{this.id}}" data-toggle="modal" data-target="#comment{{this.id}}"><i class="far fa-comments"></i>
        Comment</button>
    </div>
    <!--Story Section-->
    <div class="card-body">
      <p class="card-text">{{this.body}}</p>
    </div>
  </div>
</div>


<!--Modal Section-->

<div class="modal fade modalComment" id="comment{{this.id}}" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header text-light bg-secondary">
        <h5 class="modal-title text-center" id="staticBackdropLabel"><i class="far fa-newspaper"></i> Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row container-fluid">
     
        <div class="col float-left overflow-auto border-right">
          <h4 class="modal-header" >Comments</h4>
          <ol class = "list-group list-group-flush mx-2">
            {{#each this.comments}}
            {{> modals/comments}}
            {{/each}}

          </ol>
        </div>
          
        <div class="col float-right border-left">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="title{{this.id}}">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Leave a comment:</label>
              <textarea class="form-control" id="message{{this.id}}" rows="3"></textarea>
            </div>
          </form>
        <div class="modal-footer">
        </div>
          <button type="button" class="btn btn-secondary float-right m-1" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary float-right m-1 addComment{{this.id}}">Add Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>